body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.section-center{
  width: 90vw;
  max-width: 35rem;
  margin:10px auto;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0 , 0.2);
  padding:2rem;
}
.alert{
 
  text-align: center;
  margin:0px auto;
  padding:0px 10px;
  border-radius: 5px;
  text-transform: capitalize;
}
.alert-success{
  background:#8DE4AF;
}
.alert-danger{
  background: #FAB3C4;
}
.grocery-form h3{
 font-size: 30px;
 color:#181818;
}
.grocery-form{
 
}
.form-control{
  display:flex;
  justify-content: center;

}
.grocery{
  padding: 0.25rem 9rem;
  padding-left: 10rem;
  border:transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background:#ebebeb;
  font-size:1rem;
  text-align: left;
  flex: 1 0 auto;

}
/* webkit solution */
::-webkit-input-placeholder { text-align:left; }
/* mozilla solution */
input:-moz-placeholder { text-align:left; }
.btn-submit{
  border: transparent;
  background:#469cf8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding:0 15px;
  font-size: 1rem;
  cursor: pointer;
}
.btn-submit:hover{
  background:#2e8ff7;
  color:#000000;
}
.grocery-container{
  margin-top: 2rem;
}
.grocery-item{
  display:flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding:0.25rem 0.5rem;
  
}
.title{
  font-size: 1rem;

}
.btn-edit,.btn-delete,.btn-clear{
  background:transparent;
  border:transparent;
  font-size:1rem;
  cursor: pointer;
}
.btn-edit{
  color:#1db129;
}
.btn-edit:hover{
  color:#079213;
}
.btn-delete{
  color:#e61f1f;
}
.btn-delete:hover{
  color:#c50c0c;
}
.btn-clear{
  color:#e61f1f;
}
.btn-clear:hover{
  color:#c50c0c;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
